apiVersion: v1
kind: ConfigMap
metadata:
    namespace: metallb-system
    name: config
data:
    config: |
        address-pools:
        - name: {{ metallb_ap1_name }}
          protocol: {{ metallb_ap1_protocol }}
          addresses:
          - {{ metallb_ap1_cidr }}    
